In [181]:
import pandas as pd
import constants as const
import seaborn as sns
import matplotlib.pyplot as plt

In [182]:
df = pd.read_csv(r"C:\Users\Lukasz\Desktop\Projekty - CV\Project - Otodom\offers_details_2.csv")

In [183]:
df.head()

,Adres,Cena,Powierzchnia,Forma własności,Liczba pokoi,Stan wykończenia,Piętro,Balkon / ogród / taras,Czynsz,Miejsce parkingowe,...,Rok budowy,Rodzaj zabudowy,Okna,Winda,Media,Zabezpieczenia,Wyposażenie,Informacje dodatkowe,Materiał budynku,Link
0,"ul. Skarbka z Gór, Grodzisk, Białołęka, Warsza...",670 000 zł,48 m²,pełna własność,2,do zamieszkania,2/3,balkon,580 zł,garaż/miejsce parkingowe,...,2011.0,apartamentowiec,plastikowe,nie,"telewizja kablowa, internet, telefon","teren zamknięty, domofon / wideofon, monitorin...","zmywarka, lodówka, meble, piekarnik, kuchenka,...","klimatyzacja, oddzielna kuchnia",beton,https://www.otodom.pl/pl/oferta/48m2-blisko-ce...
1,"ul. Krasnobrodzka 17, Bródno-Podgrodzie, Targó...",765 000 zł,47 m²,pełna własność,2,do zamieszkania,7/10,balkon,NaN,NaN,...,NaN,blok,plastikowe,tak,NaN,NaN,"zmywarka, lodówka, piekarnik, kuchenka, pralka","piwnica, oddzielna kuchnia",NaN,https://www.otodom.pl/pl/oferta/po-generalnym-...
2,"ul. Okopowa, Nowolipki, Wola, Warszawa, mazowi...",920 000 zł,46 m²,pełna własność,3,do zamieszkania,1/10,balkon,NaN,NaN,...,1969.0,blok,plastikowe,tak,NaN,domofon / wideofon,"meble, pralka, lodówka, piekarnik, zmywarka, k...",piwnica,NaN,https://www.otodom.pl/pl/oferta/5-minut-do-war...
3,"ul. Grójecka, Stara Ochota, Ochota, Warszawa, ...",399 900 zł,"18,24 m²",pełna własność,1,do zamieszkania,1/6,NaN,488 zł,NaN,...,1958.0,kamienica,plastikowe,tak,"telewizja kablowa, internet, telefon","drzwi / okna antywłamaniowe, domofon / wideofo...","lodówka, meble, kuchenka",piwnica,cegła,https://www.otodom.pl/pl/oferta/ksiega-wieczys...
4,"ul. ks. Juliana Chrościckiego, Nowe Włochy, Wł...",1 149 000 zł,"72,49 m²",pełna własność,3,NaN,4/5,balkon,800 zł,garaż/miejsce parkingowe,...,2016.0,blok,NaN,nie,NaN,"drzwi / okna antywłamaniowe, domofon / wideofo...",NaN,pom. użytkowe,NaN,https://www.otodom.pl/pl/oferta/nowe-3-pokoje-...

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4907 entries, 0 to 4906
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Adres                    4907 non-null   object
 1   Cena                     4907 non-null   object
 2   Powierzchnia             4907 non-null   object
 3   Forma własności          4076 non-null   object
 4   Liczba pokoi             4907 non-null   int64
 5   Stan wykończenia         4301 non-null   object
 6   Piętro                   4849 non-null   object
 7   Balkon / ogród / taras   3455 non-null   object
 8   Czynsz                   3037 non-null   object
 9   Miejsce parkingowe       2815 non-null   object
 10  Ogrzewanie               3665 non-null   object
 11  Certyfikat energetyczny  723 non-null    object
 12  Rynek                    4404 non-null   object
 13  Typ ogłoszeniodawcy      4404 non-null   object
 14  Dostępne od              1289 non-null   object
 15  Rok budowy               4043 non-null   float64
 16  Rodzaj zabudowy          3918 non-null   object
 17  Okna                     2989 non-null   object
 18  Winda                    4404 non-null   object
 19  Media                    2305 non-null   object
 20  Zabezpieczenia           3453 non-null   object
 21  Wyposażenie              2521 non-null   object
 22  Informacje dodatkowe     2811 non-null   object
 23  Materiał budynku         2560 non-null   object
 24  Link                     4907 non-null   object
dtypes: float64(1), int64(1), object(23)
memory usage: 958.5+ KB

In [185]:
df.describe()

       Liczba pokoi   Rok budowy
count   4907.000000  4043.000000
mean       2.539433  1991.371754
std        0.943482    53.590380
min        1.000000     2.000000
25%        2.000000  1970.000000
50%        2.000000  2002.000000
75%        3.000000  2018.000000
max       10.000000  2026.000000

In [186]:
len(df)

4907

In [187]:
df.isnull().sum()

Adres                         0
Cena                          0
Powierzchnia                  0
Forma własności             831
Liczba pokoi                  0
Stan wykończenia            606
Piętro                       58
Balkon / ogród / taras     1452
Czynsz                     1870
Miejsce parkingowe         2092
Ogrzewanie                 1242
Certyfikat energetyczny    4184
Rynek                       503
Typ ogłoszeniodawcy         503
Dostępne od                3618
Rok budowy                  864
Rodzaj zabudowy             989
Okna                       1918
Winda                       503
Media                      2602
Zabezpieczenia             1454
Wyposażenie                2386
Informacje dodatkowe       2096
Materiał budynku           2347
Link                          0
dtype: int64

In [188]:
df.isnull().any(axis=1).sum()

4891

In [189]:
df.columns

Index(['Adres', 'Cena', 'Powierzchnia', 'Forma własności', 'Liczba pokoi',
       'Stan wykończenia', 'Piętro', 'Balkon / ogród / taras', 'Czynsz',
       'Miejsce parkingowe', 'Ogrzewanie', 'Certyfikat energetyczny', 'Rynek',
       'Typ ogłoszeniodawcy', 'Dostępne od', 'Rok budowy', 'Rodzaj zabudowy',
       'Okna', 'Winda', 'Media', 'Zabezpieczenia', 'Wyposażenie',
       'Informacje dodatkowe', 'Materiał budynku', 'Link'],
      dtype='object')

In [190]:
df['Adres']

0       ul. Skarbka z Gór, Grodzisk, Białołęka, Warsza...
1       ul. Krasnobrodzka 17, Bródno-Podgrodzie, Targó...
2       ul. Okopowa, Nowolipki, Wola, Warszawa, mazowi...
3       ul. Grójecka, Stara Ochota, Ochota, Warszawa, ...
4       ul. ks. Juliana Chrościckiego, Nowe Włochy, Wł...
                              ...
4902    ul. Smoleńska, Targówek Mieszkaniowy, Targówek...
4903    ul. J. R. R. Tolkiena, Służewiec, Mokotów, War...
4904    al. Aleja Niepodległości, Stary Mokotów, Mokot...
4905    ul. Synów Pułku, Jelonki Południowe, Bemowo, W...
4906    ul. Astronautów, Okęcie, Włochy, Warszawa, maz...
Name: Adres, Length: 4907, dtype: object

In [191]:
df[~df['Adres'].str.startswith('ul')]

,Adres,Cena,Powierzchnia,Forma własności,Liczba pokoi,Stan wykończenia,Piętro,Balkon / ogród / taras,Czynsz,Miejsce parkingowe,...,Rok budowy,Rodzaj zabudowy,Okna,Winda,Media,Zabezpieczenia,Wyposażenie,Informacje dodatkowe,Materiał budynku,Link
8,"Targówek, ul. Wierna, Osiedle Wilno, Targówek ...",825 000 zł,"46,6 m²",pełna własność,2,do zamieszkania,1/3,balkon,794 zł,garaż/miejsce parkingowe,...,2022.0,blok,plastikowe,tak,"telewizja kablowa, internet","drzwi / okna antywłamaniowe, teren zamknięty, ...","zmywarka, piekarnik, kuchenka",klimatyzacja,pustak,https://www.otodom.pl/pl/oferta/bezposrednio-o...
9,"Optyków, Gocław, Praga-Południe, Warszawa, maz...",1 050 000 zł,"44,69 m²",pełna własność,2,do zamieszkania,4/6,"balkon, taras",550 zł,garaż/miejsce parkingowe,...,2022.0,blok,plastikowe,tak,"telewizja kablowa, internet, telefon","drzwi / okna antywłamaniowe, domofon / wideofo...","zmywarka, lodówka, meble, piekarnik, kuchenka,...",klimatyzacja,cegła,https://www.otodom.pl/pl/oferta/nowe-elegancko...
10,"al. Aleja Niepodległości, Stary Mokotów, Mokot...",839 000 zł,43 m²,NaN,2,NaN,parter/6,NaN,NaN,NaN,...,1950.0,NaN,NaN,nie,NaN,NaN,NaN,NaN,NaN,https://www.otodom.pl/pl/oferta/2pokoje-43m2-m...
13,"al. Aleja Krakowska, Raków, Włochy, Warszawa, ...",1 389 000 zł,81 m²,pełna własność,4,do wykończenia,8/8,balkon,NaN,garaż/miejsce parkingowe,...,2024.0,blok,plastikowe,nie,"telewizja kablowa, internet, telefon","drzwi / okna antywłamaniowe, teren zamknięty, ...",NaN,klimatyzacja,silikat,https://www.otodom.pl/pl/oferta/4-pok-mieszkan...
20,"al. Aleja 3 Maja, Solec, Śródmieście, Warszawa...",2 200 000 zł,103 m²,NaN,3,do remontu,parter/5,NaN,1 000 zł,garaż/miejsce parkingowe,...,1931.0,kamienica,NaN,tak,NaN,monitoring / ochrona,NaN,piwnica,cegła,https://www.otodom.pl/pl/oferta/kamienica-proj...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4892,"Nowolipki, Wola, Warszawa, mazowieckie",740 000 zł,48 m²,pełna własność,2,do remontu,parter/8,NaN,600 zł,NaN,...,1960.0,blok,NaN,tak,"telewizja kablowa, internet",NaN,meble,"piwnica, oddzielna kuchnia",cegła,https://www.otodom.pl/pl/oferta/dwa-pokoje-na-...
4895,"Śródmieście Północne, Śródmieście, Warszawa, m...",910 000 zł,44 m²,pełna własność,3,do zamieszkania,1/4,balkon,900 zł,NaN,...,1958.0,blok,NaN,tak,NaN,monitoring / ochrona,NaN,piwnica,cegła,https://www.otodom.pl/pl/oferta/blisko-metra-b...
4897,"Nowolipki, Wola, Warszawa, mazowieckie",1 500 000 zł,72 m²,pełna własność,3,do zamieszkania,6/11,NaN,650 zł,garaż/miejsce parkingowe,...,2002.0,apartamentowiec,plastikowe,tak,NaN,"monitoring / ochrona, domofon / wideofon",NaN,NaN,beton,https://www.otodom.pl/pl/oferta/piekne-mieszka...
4898,"Zygmunta Hübnera, Sady Żoliborskie, Żoliborz, ...",2 000 000 zł,66 m²,pełna własność,3,do zamieszkania,4/8,balkon,600 zł,garaż/miejsce parkingowe,...,2021.0,blok,plastikowe,tak,"telewizja kablowa, internet, telefon","drzwi / okna antywłamaniowe, teren zamknięty, ...","zmywarka, lodówka, meble, piekarnik, kuchenka,...",klimatyzacja,cegła,https://www.otodom.pl/pl/oferta/mieszkanie-war...
4904,"al. Aleja Niepodległości, Stary Mokotów, Mokot...",599 000 zł,36 m²,pełna własność,1,do zamieszkania,1/6,NaN,590 zł,garaż/miejsce parkingowe,...,1955.0,kamienica,plastikowe,tak,NaN,monitoring / ochrona,meble,piwnica,cegła,https://www.otodom.pl/pl/oferta/stary-mokotow-...

In [192]:
df['Adres'].str.split(',').str[-3].unique()

array([' Białołęka', ' Targówek', ' Wola', ' Ochota', ' Włochy',
       ' Praga-Południe', ' Ursus', ' Mokotów', ' Bielany', ' Wilanów',
       ' Śródmieście', ' Praga-Północ', ' Bemowo', ' Ursynów', ' Wawer',
       ' Rembertów', ' Żoliborz', ' Wesoła', ' Ząbki', ' Raszyn',
       ' Michałowice', 'Pruszków', ' Piastów', ' Lesznowola',
       ' Stare Babice', 'Piastów', ' Piaseczno', ' Ostrzeszów'],
      dtype=object)

In [193]:
def get_third_last_element(address):
    elements = address.split(',')
    elements = [element.strip() for element in elements]
    if len(elements) > 3:
        return elements[-3]
    else:
        return None

In [194]:
df['Dzielnica'] = df['Adres'].apply(get_third_last_element)

In [195]:
df['Dzielnica'].unique()

array(['Białołęka', 'Targówek', 'Wola', 'Ochota', 'Włochy',
       'Praga-Południe', 'Ursus', 'Mokotów', 'Bielany', 'Wilanów',
       'Śródmieście', 'Praga-Północ', 'Bemowo', 'Ursynów', 'Wawer',
       'Rembertów', 'Żoliborz', 'Wesoła', 'Ząbki', 'Raszyn',
       'Michałowice', None, 'Piastów', 'Lesznowola', 'Stare Babice',
       'Piaseczno', 'Ostrzeszów'], dtype=object)

In [196]:
len(df[df['Dzielnica'].isin(const.WARSAW_DISTRICTS)])

4890

In [197]:
df = df[df['Dzielnica'].isin(const.WARSAW_DISTRICTS)]

In [198]:
len(df)

4890

In [199]:
df.loc[~df['Cena'].str.contains('zł'),'Cena'].unique()

array(['Zapytaj o cenę'], dtype=object)

In [200]:
len(df[df['Cena']=='Zapytaj o cenę'])

358

In [201]:
df = df[df['Cena'] != 'Zapytaj o cenę']

In [202]:
len(df)

4532

In [203]:
df[~df['Cena'].str.contains(' zł')]

Empty DataFrame
Columns: [Adres, Cena, Powierzchnia, Forma własności, Liczba pokoi, Stan wykończenia, Piętro, Balkon / ogród / taras, Czynsz, Miejsce parkingowe, Ogrzewanie, Certyfikat energetyczny, Rynek, Typ ogłoszeniodawcy, Dostępne od, Rok budowy, Rodzaj zabudowy, Okna, Winda, Media, Zabezpieczenia, Wyposażenie, Informacje dodatkowe, Materiał budynku, Link, Dzielnica]
Index: []

[0 rows x 26 columns]

In [204]:
def convert_price(price):
    return float(price.replace(' zł','').replace(' ','').replace(',','.'))

In [205]:
df['Cena'] = df['Cena'].apply(convert_price)

In [206]:
print(df['Cena'].max(), df['Cena'].min())

2500000.0 315000.0

In [207]:
df['Powierzchnia']

0          48 m²
1          47 m²
2          46 m²
3       18,24 m²
4       72,49 m²
          ...
4902      139 m²
4903       76 m²
4904       36 m²
4905       30 m²
4906     50,8 m²
Name: Powierzchnia, Length: 4532, dtype: object

In [208]:
df[~df['Powierzchnia'].str.contains('m')]

Empty DataFrame
Columns: [Adres, Cena, Powierzchnia, Forma własności, Liczba pokoi, Stan wykończenia, Piętro, Balkon / ogród / taras, Czynsz, Miejsce parkingowe, Ogrzewanie, Certyfikat energetyczny, Rynek, Typ ogłoszeniodawcy, Dostępne od, Rok budowy, Rodzaj zabudowy, Okna, Winda, Media, Zabezpieczenia, Wyposażenie, Informacje dodatkowe, Materiał budynku, Link, Dzielnica]
Index: []

[0 rows x 26 columns]

In [209]:
df['Powierzchnia'] = df['Powierzchnia'].str.replace(' m²','').str.replace(',','.').astype(float)

In [210]:
print(df['Powierzchnia'].min(), df['Powierzchnia'].max())

10.0 680.0

In [211]:
df['Cena [zł/m²]'] = (df['Cena']/df['Powierzchnia']).round(0)

In [212]:
df['Cena [zł/m²]'].head()

0    13958.0
1    16277.0
2    20000.0
3    21924.0
4    15850.0
Name: Cena [zł/m²], dtype: float64

In [213]:
df['Forma własności'].isnull().sum()

828

In [214]:
grouped_by_distrcit_and_property_form = df.groupby(['Dzielnica','Forma własności'])['Cena [zł/m²]'].mean().reset_index()

In [215]:
grouped_by_distrcit_and_property_form

         Dzielnica                    Forma własności  Cena [zł/m²]
0           Bemowo                     pełna własność  17675.457317
1           Bemowo   spółdzielcze wł. prawo do lokalu  15334.620690
2           Bemowo  użytkowanie wieczyste / dzierżawa  17445.000000
3        Białołęka                     pełna własność  13937.423197
4        Białołęka   spółdzielcze wł. prawo do lokalu  13176.571429
5        Białołęka                             udział  11182.000000
6        Białołęka  użytkowanie wieczyste / dzierżawa  14762.000000
7          Bielany                     pełna własność  18218.401099
8          Bielany   spółdzielcze wł. prawo do lokalu  15516.634146
9          Mokotów                     pełna własność  20016.573913
10         Mokotów   spółdzielcze wł. prawo do lokalu  17843.389831
11          Ochota                     pełna własność  19425.856000
12          Ochota   spółdzielcze wł. prawo do lokalu  18548.500000
13  Praga-Południe                     pełna własność  17708.993485
14  Praga-Południe   spółdzielcze wł. prawo do lokalu  15677.764706
15    Praga-Północ                     pełna własność  18673.270492
16    Praga-Północ   spółdzielcze wł. prawo do lokalu  17015.428571
17       Rembertów                     pełna własność  12842.717949
18        Targówek                     pełna własność  15658.322835
19        Targówek   spółdzielcze wł. prawo do lokalu  14915.060606
20           Ursus                     pełna własność  15348.497175
21           Ursus   spółdzielcze wł. prawo do lokalu  13502.714286
22           Ursus                             udział  13141.000000
23         Ursynów                     pełna własność  17992.021429
24         Ursynów   spółdzielcze wł. prawo do lokalu  16360.794872
25         Ursynów  użytkowanie wieczyste / dzierżawa  16582.000000
26           Wawer                     pełna własność  14775.594595
27           Wawer   spółdzielcze wł. prawo do lokalu  17338.000000
28           Wawer                             udział  10971.000000
29           Wawer  użytkowanie wieczyste / dzierżawa  12256.000000
30          Wesoła                     pełna własność  12083.884615
31          Wesoła                             udział   9167.000000
32         Wilanów                     pełna własność  20111.510345
33         Wilanów   spółdzielcze wł. prawo do lokalu  13975.000000
34            Wola                     pełna własność  22375.881481
35            Wola   spółdzielcze wł. prawo do lokalu  20244.781250
36            Wola                             udział  12791.000000
37            Wola  użytkowanie wieczyste / dzierżawa  22333.000000
38          Włochy                     pełna własność  16974.397590
39          Włochy   spółdzielcze wł. prawo do lokalu  15332.800000
40          Włochy  użytkowanie wieczyste / dzierżawa  13271.000000
41     Śródmieście                     pełna własność  24345.733577
42     Śródmieście   spółdzielcze wł. prawo do lokalu  23052.382353
43     Śródmieście  użytkowanie wieczyste / dzierżawa  19018.000000
44        Żoliborz                     pełna własność  22521.014085
45        Żoliborz   spółdzielcze wł. prawo do lokalu  18719.888889

In [216]:
def fill_missing_forma_property_form(row, grouped):
    if pd.isna(row['Forma własności']):
        dzielnica = row['Dzielnica']
        cena = row['Cena [zł/m²]']

        filtered_group = grouped[grouped['Dzielnica'] == dzielnica]
        
        filtered_group['difference'] = abs(filtered_group['Cena [zł/m²]'] - cena)
        
        closest_forma = filtered_group.loc[filtered_group['difference'].idxmin(), 'Forma własności']
        return closest_forma
    else:
        return row['Forma własności']

In [217]:
df['Forma własności'] = df.apply(lambda row: fill_missing_forma_property_form(row,grouped_by_distrcit_and_property_form),axis=1)

In [218]:
df.isnull().sum()

Adres                         0
Cena                          0
Powierzchnia                  0
Forma własności               0
Liczba pokoi                  0
Stan wykończenia            604
Piętro                       57
Balkon / ogród / taras     1365
Czynsz                     1502
Miejsce parkingowe         2066
Ogrzewanie                  927
Certyfikat energetyczny    3812
Rynek                       157
Typ ogłoszeniodawcy         157
Dostępne od                3249
Rok budowy                  516
Rodzaj zabudowy             641
Okna                       1564
Winda                       157
Media                      2252
Zabezpieczenia             1104
Wyposażenie                2017
Informacje dodatkowe       1739
Materiał budynku           1989
Link                          0
Dzielnica                     0
Cena [zł/m²]                  0
dtype: int64

In [219]:
print(df['Liczba pokoi'].min(),df['Liczba pokoi'].max())

1 10

In [220]:
df.dtypes

Adres                       object
Cena                       float64
Powierzchnia               float64
Forma własności             object
Liczba pokoi                 int64
Stan wykończenia            object
Piętro                      object
Balkon / ogród / taras      object
Czynsz                      object
Miejsce parkingowe          object
Ogrzewanie                  object
Certyfikat energetyczny     object
Rynek                       object
Typ ogłoszeniodawcy         object
Dostępne od                 object
Rok budowy                 float64
Rodzaj zabudowy             object
Okna                        object
Winda                       object
Media                       object
Zabezpieczenia              object
Wyposażenie                 object
Informacje dodatkowe        object
Materiał budynku            object
Link                        object
Dzielnica                   object
Cena [zł/m²]               float64
dtype: object

In [221]:
df['Stan wykończenia'].unique()

array(['do zamieszkania', nan, 'do wykończenia', 'do remontu'],
      dtype=object)

In [222]:
grouped_by_district_and_apartment_finishing = df.groupby(['Dzielnica','Stan wykończenia'])['Cena [zł/m²]'].mean().reset_index()

In [223]:
grouped_by_district_and_apartment_finishing

         Dzielnica Stan wykończenia  Cena [zł/m²]
0           Bemowo       do remontu  14981.040000
1           Bemowo   do wykończenia  17132.276596
2           Bemowo  do zamieszkania  17366.902098
3        Białołęka       do remontu  12173.909091
4        Białołęka   do wykończenia  12446.250000
5        Białołęka  do zamieszkania  14563.175214
6          Bielany       do remontu  15502.666667
7          Bielany   do wykończenia  17546.737705
8          Bielany  do zamieszkania  17675.133758
9          Mokotów       do remontu  16914.250000
10         Mokotów   do wykończenia  19079.604651
11         Mokotów  do zamieszkania  20299.459530
12          Ochota       do remontu  17942.384615
13          Ochota   do wykończenia  18870.384615
14          Ochota  do zamieszkania  19735.855769
15  Praga-Południe       do remontu  14724.809524
16  Praga-Południe   do wykończenia  17558.720588
17  Praga-Południe  do zamieszkania  18019.012658
18    Praga-Północ       do remontu  15653.210526
19    Praga-Północ   do wykończenia  18136.825000
20    Praga-Północ  do zamieszkania  19276.621622
21       Rembertów       do remontu   9712.000000
22       Rembertów   do wykończenia  12826.407407
23       Rembertów  do zamieszkania  13080.125000
24        Targówek       do remontu  14357.375000
25        Targówek   do wykończenia  14485.393939
26        Targówek  do zamieszkania  15793.384000
27           Ursus       do remontu  13598.500000
28           Ursus   do wykończenia  14197.042254
29           Ursus  do zamieszkania  16008.934959
30         Ursynów       do remontu  14670.391304
31         Ursynów   do wykończenia  17665.064516
32         Ursynów  do zamieszkania  17884.324503
33           Wawer       do remontu  18391.000000
34           Wawer   do wykończenia  11594.666667
35           Wawer  do zamieszkania  15897.631579
36          Wesoła       do remontu   7195.500000
37          Wesoła   do wykończenia  11259.000000
38          Wesoła  do zamieszkania  12924.000000
39         Wilanów       do remontu  17378.500000
40         Wilanów   do wykończenia  17711.333333
41         Wilanów  do zamieszkania  20302.595420
42            Wola       do remontu  17499.804878
43            Wola   do wykończenia  24919.776119
44            Wola  do zamieszkania  22123.211699
45          Włochy       do remontu  13890.000000
46          Włochy   do wykończenia  16220.936709
47          Włochy  do zamieszkania  17684.864078
48     Śródmieście       do remontu  21006.904762
49     Śródmieście   do wykończenia  21564.888889
50     Śródmieście  do zamieszkania  24557.887597
51        Żoliborz       do remontu  18845.200000
52        Żoliborz   do wykończenia  18788.684211
53        Żoliborz  do zamieszkania  21917.158537

In [224]:
def fill_missing_forma_apartment_finishing(row, grouped):
    if pd.isna(row['Stan wykończenia']):
        dzielnica = row['Dzielnica']
        cena = row['Cena [zł/m²]']

        filtered_group = grouped[grouped['Dzielnica'] == dzielnica]
        
        filtered_group['difference'] = abs(filtered_group['Cena [zł/m²]'] - cena)
        
        closest_forma = filtered_group.loc[filtered_group['difference'].idxmin(), 'Stan wykończenia']
        return closest_forma
    else:
        return row['Stan wykończenia']

In [225]:
df['Stan wykończenia'] = df.apply(lambda row: fill_missing_forma_apartment_finishing(row,grouped_by_district_and_apartment_finishing),axis=1)

In [226]:
df['Piętro']

0        2/3
1       7/10
2       1/10
3        1/6
4        4/5
        ...
4902     4/4
4903     4/5
4904     1/6
4905    1/10
4906     1/4
Name: Piętro, Length: 4532, dtype: object

In [227]:
len(df[df['Piętro'].isnull()])

57

In [228]:
df = df[df['Piętro'].notna()]

In [229]:
pattern = r'^(suterena/\d{1,2}|parter|parter/\d{1,2}|\d{1,2}/\d{1,2}|\d{1,2})$'

non_matching = df[~df['Piętro'].str.match(pattern)]

In [230]:
len(non_matching)

129

In [231]:
non_matching['Piętro'].unique()

array(['> 10/16', '> 10', '> 10/12', '> 10/22', '> 10/15', '> 10/26',
       '> 10/11', '> 10/30', '> 10/25', '> 10/17', '> 10/13', '> 10/24',
       '> 10/14', '> 10/20', '> 10/10', '> 10/27', '> 10/18', '> 10/23'],
      dtype=object)

In [232]:
def convert_level(level):
    if isinstance(level, str):
        if 'parter' in level:
            return 0
        elif 'suterena' in level:
            return -1
        elif '/' in level:
            return int(level.split('/')[0].replace('>', '').strip())
        elif '>' in level:
            return int(level.replace('>', '').strip())
    return int(level)

In [233]:
df['Piętro'] = df['Piętro'].apply(convert_level)

In [234]:
print(df['Piętro'].min(), df['Piętro'].max())

-1 10

In [235]:
len(df)

4475

In [236]:
len(df[df['Balkon / ogród / taras'].isnull()])

1348

In [237]:
df['Balkon / ogród / taras'].unique()

array(['balkon', nan, 'balkon, taras', 'ogródek, taras',
       'balkon, ogródek', 'balkon, ogródek, taras', 'ogródek',
       'taras, ogródek', 'taras', 'taras, balkon',
       'taras, balkon, ogródek'], dtype=object)

In [238]:
df['Balkon / ogród / taras']

0              balkon
1              balkon
2              balkon
3                 NaN
4              balkon
            ...
4902           balkon
4903    taras, balkon
4904              NaN
4905          ogródek
4906           balkon
Name: Balkon / ogród / taras, Length: 4475, dtype: object

In [239]:
df['Balkon'] = df['Balkon / ogród / taras'].str.contains('balkon', na=False).astype(int)
df['Ogródek'] = df['Balkon / ogród / taras'].str.contains('ogródek', na=False).astype(int)
df['Taras'] = df['Balkon / ogród / taras'].str.contains('taras', na=False).astype(int)

In [240]:
df = df.drop(columns=['Balkon / ogród / taras'])

In [241]:
df[['Balkon','Ogródek','Taras']]

      Balkon  Ogródek  Taras
0          1        0      0
1          1        0      0
2          1        0      0
3          0        0      0
4          1        0      0
...      ...      ...    ...
4902       1        0      0
4903       1        0      1
4904       0        0      0
4905       0        1      0
4906       1        0      0

[4475 rows x 3 columns]

In [242]:
df.columns

Index(['Adres', 'Cena', 'Powierzchnia', 'Forma własności', 'Liczba pokoi',
       'Stan wykończenia', 'Piętro', 'Czynsz', 'Miejsce parkingowe',
       'Ogrzewanie', 'Certyfikat energetyczny', 'Rynek', 'Typ ogłoszeniodawcy',
       'Dostępne od', 'Rok budowy', 'Rodzaj zabudowy', 'Okna', 'Winda',
       'Media', 'Zabezpieczenia', 'Wyposażenie', 'Informacje dodatkowe',
       'Materiał budynku', 'Link', 'Dzielnica', 'Cena [zł/m²]', 'Balkon',
       'Ogródek', 'Taras'],
      dtype='object')

In [243]:
df['Czynsz']

0         580 zł
1            NaN
2            NaN
3         488 zł
4         800 zł
          ...
4902         NaN
4903    1 243 zł
4904      590 zł
4905      500 zł
4906         NaN
Name: Czynsz, Length: 4475, dtype: object

In [244]:
len(df)

4475

In [245]:
len(df[df['Czynsz'].isna()])

1464

In [246]:
df['Czynsz'] = df['Czynsz'].str.replace(' zł', '').str.replace(' ', '').str.replace(',', '.').astype(float)

In [247]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\lukasz\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1.3)
Requirement already satisfied: numpy in c:\users\lukasz\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\lukasz\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from xgboost) (1.11.4)

In [248]:
df_cleaned = df.dropna(subset=['Czynsz'])

X = df_cleaned[['Cena', 'Powierzchnia', 'Liczba pokoi']]
y = df_cleaned['Czynsz']

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model_lr = LinearRegression()
model_lr.fit(X_train, y_train)

y_pred_lr = model_lr.predict(X_test)

mse_lr = mean_squared_error(y_test, y_pred_lr)
mae_lr = mean_absolute_error(y_test, y_pred_lr)
print("MSE - Model 1 (Regresja liniowa):", mse_lr)
print("MAE - Model 1 (Regresja liniowa):", mae_lr)

model_rf = RandomForestRegressor(n_estimators=100, random_state=42)
model_rf.fit(X_train, y_train)

y_pred_rf = model_rf.predict(X_test)

mse_rf = mean_squared_error(y_test, y_pred_rf)
mae_rf = mean_absolute_error(y_test, y_pred_rf)
print("MSE - Model 2 (Random Forest):", mse_rf)
print("MAE - Model 2 (Random Forest):", mae_rf)

from xgboost import XGBRegressor

model_xgb = XGBRegressor(random_state=42)
model_xgb.fit(X_train, y_train)

y_pred_xgb = model_xgb.predict(X_test)

mse_xgb = mean_squared_error(y_test, y_pred_xgb)
mae_xgb = mean_absolute_error(y_test, y_pred_xgb)
print("MSE - Model 3 (XGBoost):", mse_xgb)
print("MAE - Model 3 (XGBoost):", mae_xgb)

MSE - Model 1 (Regresja liniowa): 86312.1347487273
MAE - Model 1 (Regresja liniowa): 148.83698154148843
MSE - Model 2 (Random Forest): 85650.89993809145
MAE - Model 2 (Random Forest): 154.42153262523362
MSE - Model 3 (XGBoost): 90182.56161738354
MAE - Model 3 (XGBoost): 159.08835811558052

In [249]:
features = ['Cena', 'Powierzchnia', 'Liczba pokoi']

train_data = df[df['Czynsz'].notna()]
X_train = train_data[features]
y_train = train_data['Czynsz']

rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

test_data = df[df['Czynsz'].isnull()]
X_test = test_data[features]

y_pred = rf.predict(X_test)

df.loc[df['Czynsz'].isnull(), 'Czynsz'] = y_pred

In [250]:
print(df['Czynsz'].min(), df['Czynsz'].max())

1.0 6000.0

In [251]:
df['Czynsz'].sort_values()

2523       1.00
2522       1.00
4325       1.00
2830       1.00
3647       1.00
         ...
3093    2077.00
1086    2300.00
4850    2300.00
1421    2373.82
2903    6000.00
Name: Czynsz, Length: 4475, dtype: float64

In [252]:
len(df[df['Czynsz'] == 1])

11

In [253]:
df = df[df['Czynsz'] != 1]

In [254]:
len(df)

4464

In [255]:
df.columns

Index(['Adres', 'Cena', 'Powierzchnia', 'Forma własności', 'Liczba pokoi',
       'Stan wykończenia', 'Piętro', 'Czynsz', 'Miejsce parkingowe',
       'Ogrzewanie', 'Certyfikat energetyczny', 'Rynek', 'Typ ogłoszeniodawcy',
       'Dostępne od', 'Rok budowy', 'Rodzaj zabudowy', 'Okna', 'Winda',
       'Media', 'Zabezpieczenia', 'Wyposażenie', 'Informacje dodatkowe',
       'Materiał budynku', 'Link', 'Dzielnica', 'Cena [zł/m²]', 'Balkon',
       'Ogródek', 'Taras'],
      dtype='object')

In [256]:
df.isnull().sum()

Adres                         0
Cena                          0
Powierzchnia                  0
Forma własności               0
Liczba pokoi                  0
Stan wykończenia              0
Piętro                        0
Czynsz                        0
Miejsce parkingowe         2039
Ogrzewanie                  895
Certyfikat energetyczny    3749
Rynek                       157
Typ ogłoszeniodawcy         157
Dostępne od                3189
Rok budowy                  494
Rodzaj zabudowy             616
Okna                       1531
Winda                       157
Media                      2218
Zabezpieczenia             1079
Wyposażenie                1967
Informacje dodatkowe       1708
Materiał budynku           1952
Link                          0
Dzielnica                     0
Cena [zł/m²]                  0
Balkon                        0
Ogródek                       0
Taras                         0
dtype: int64

In [257]:
df['Miejsce parkingowe'].unique()

array(['garaż/miejsce parkingowe', nan], dtype=object)

In [258]:
df['Miejsce parkingowe/Garaż'] = df['Miejsce parkingowe'].str.contains('garaż',na=False).astype(int)

In [259]:
df = df.drop(columns = ['Miejsce parkingowe'])

In [260]:
len(df[df['Miejsce parkingowe/Garaż'].isnull()])

0

In [261]:
df['Ogrzewanie'].unique()

array(['miejskie', 'elektryczne', nan, 'gazowe', 'inne', 'kotłownia',
       'piece kaflowe'], dtype=object)

In [262]:
grouped_by_type_of_heating = df.groupby('Ogrzewanie')['Cena [zł/m²]'].mean()

In [263]:
grouped_by_type_of_heating

Ogrzewanie
elektryczne      14854.033333
gazowe           15665.317204
inne             17393.466102
kotłownia        15929.380952
miejskie         18716.552632
piece kaflowe    11314.000000
Name: Cena [zł/m²], dtype: float64

In [264]:
def find_closest_heating_type(price, avg_prices):
    closest_heating = (avg_prices - price).abs().idxmin()
    return closest_heating

def fill_missing_heating(row, avg_prices):
    if pd.isna(row['Ogrzewanie']):
        return find_closest_heating_type(row['Cena'], avg_prices)
    else:
        return row['Ogrzewanie']

In [265]:
df['Ogrzewanie'] = df.apply(lambda row: fill_missing_heating(row, grouped_by_type_of_heating), axis=1)

In [266]:
df['Ogrzewanie'].unique()

array(['miejskie', 'elektryczne', 'gazowe', 'inne', 'kotłownia',
       'piece kaflowe'], dtype=object)

In [267]:
df.columns

Index(['Adres', 'Cena', 'Powierzchnia', 'Forma własności', 'Liczba pokoi',
       'Stan wykończenia', 'Piętro', 'Czynsz', 'Ogrzewanie',
       'Certyfikat energetyczny', 'Rynek', 'Typ ogłoszeniodawcy',
       'Dostępne od', 'Rok budowy', 'Rodzaj zabudowy', 'Okna', 'Winda',
       'Media', 'Zabezpieczenia', 'Wyposażenie', 'Informacje dodatkowe',
       'Materiał budynku', 'Link', 'Dzielnica', 'Cena [zł/m²]', 'Balkon',
       'Ogródek', 'Taras', 'Miejsce parkingowe/Garaż'],
      dtype='object')

In [268]:
df = df.drop(columns=['Certyfikat energetyczny'])

In [269]:
df.isnull().sum()

Adres                          0
Cena                           0
Powierzchnia                   0
Forma własności                0
Liczba pokoi                   0
Stan wykończenia               0
Piętro                         0
Czynsz                         0
Ogrzewanie                     0
Rynek                        157
Typ ogłoszeniodawcy          157
Dostępne od                 3189
Rok budowy                   494
Rodzaj zabudowy              616
Okna                        1531
Winda                        157
Media                       2218
Zabezpieczenia              1079
Wyposażenie                 1967
Informacje dodatkowe        1708
Materiał budynku            1952
Link                           0
Dzielnica                      0
Cena [zł/m²]                   0
Balkon                         0
Ogródek                        0
Taras                          0
Miejsce parkingowe/Garaż       0
dtype: int64

In [270]:
df = df[df['Rynek'].notna()]

In [271]:
df['Typ ogłoszeniodawcy'].unique()

array(['prywatny', 'biuro nieruchomości', 'deweloper'], dtype=object)

In [272]:
df = df[df['Typ ogłoszeniodawcy'].notna()]

In [273]:
df.drop(columns=['Dostępne od'],inplace=True)

In [274]:
df['Rok budowy'] = pd.to_numeric(df['Rok budowy'], errors='coerce').astype('Int64')

In [275]:
df['Rok budowy']

0       2011
1       <NA>
2       1969
3       1958
4       2016
        ...
4902    <NA>
4903    2014
4904    1955
4905    1975
4906    1959
Name: Rok budowy, Length: 4307, dtype: Int64

In [276]:
len(df[df['Rok budowy'].isnull()])

337

In [277]:
len(df)

4307

In [278]:
df = df[df['Rok budowy'].notna()]

In [279]:
df['Rodzaj zabudowy'].unique()

array(['apartamentowiec', 'blok', 'kamienica', nan, 'dom wolnostojący',
       'loft', 'szeregowiec', 'plomba'], dtype=object)

In [280]:
grouped_by_type_of_building = df.groupby(['Dzielnica', 'Rodzaj zabudowy'])['Cena [zł/m²]'].mean()

In [281]:
grouped_by_type_of_building

Dzielnica    Rodzaj zabudowy
Bemowo       apartamentowiec     18015.607143
             blok                16665.890323
             kamienica           18288.000000
Białołęka    apartamentowiec     15215.037037
             blok                13894.510823
                                     ...
Śródmieście  dom wolnostojący    24837.000000
             kamienica           24469.323864
Żoliborz     apartamentowiec     24208.030303
             blok                18318.051724
             kamienica           22132.130435
Name: Cena [zł/m²], Length: 77, dtype: float64

In [282]:
def find_closest_building_type(price, district, avg_prices):
    district_avg_prices = avg_prices.loc[district]
    closest_building_type = (district_avg_prices - price).abs().idxmin()  
    return closest_building_type

def fill_missing_building_type(row, avg_prices):
    if pd.isna(row['Rodzaj zabudowy']):
        return find_closest_building_type(row['Cena [zł/m²]'], row['Dzielnica'], avg_prices)
    else:
        return row['Rodzaj zabudowy']

In [283]:
df['Rodzaj zabudowy'] = df.apply(lambda row: fill_missing_building_type(row, grouped_by_type_of_building), axis=1)

In [284]:
df['Rodzaj zabudowy'].unique()

array(['apartamentowiec', 'blok', 'kamienica', 'plomba',
       'dom wolnostojący', 'loft', 'szeregowiec'], dtype=object)

In [285]:
df['Winda'] = df['Winda'].replace({'tak':1, 'nie':0})

In [286]:
df.isnull().sum()

Adres                          0
Cena                           0
Powierzchnia                   0
Forma własności                0
Liczba pokoi                   0
Stan wykończenia               0
Piętro                         0
Czynsz                         0
Ogrzewanie                     0
Rynek                          0
Typ ogłoszeniodawcy            0
Rok budowy                     0
Rodzaj zabudowy                0
Okna                        1254
Winda                          0
Media                       1885
Zabezpieczenia               793
Wyposażenie                 1644
Informacje dodatkowe        1411
Materiał budynku            1581
Link                           0
Dzielnica                      0
Cena [zł/m²]                   0
Balkon                         0
Ogródek                        0
Taras                          0
Miejsce parkingowe/Garaż       0
dtype: int64

In [287]:
df.drop(columns=['Okna'],inplace=True)

In [288]:
df['Media'].unique()

array(['telewizja kablowa, internet, telefon', nan, 'telewizja kablowa',
       'telewizja kablowa, internet', 'internet',
       'telefon, internet, telewizja kablowa',
       'internet, telewizja kablowa', 'telefon, internet', 'telefon',
       'internet, telefon', 'telewizja kablowa, telefon',
       'telefon, telewizja kablowa'], dtype=object)

In [289]:
df = df.drop(columns=['Media'])

In [290]:
df['Zabezpieczenia'].unique()

array(['teren zamknięty, domofon / wideofon, monitoring / ochrona',
       'domofon / wideofon',
       'drzwi / okna antywłamaniowe, domofon / wideofon, monitoring / ochrona',
       'drzwi / okna antywłamaniowe, domofon / wideofon, teren zamknięty',
       'drzwi / okna antywłamaniowe, teren zamknięty, domofon / wideofon, monitoring / ochrona',
       'monitoring / ochrona, domofon / wideofon',
       'system alarmowy, drzwi / okna antywłamaniowe, teren zamknięty, domofon / wideofon, monitoring / ochrona',
       nan, 'domofon / wideofon, rolety antywłamaniowe',
       'system alarmowy, monitoring / ochrona', 'monitoring / ochrona',
       'domofon / wideofon, monitoring / ochrona',
       'system alarmowy, teren zamknięty, domofon / wideofon, monitoring / ochrona',
       'drzwi / okna antywłamaniowe, teren zamknięty, domofon / wideofon, monitoring / ochrona, rolety antywłamaniowe',
       'drzwi / okna antywłamaniowe, teren zamknięty, domofon / wideofon',
       'system alarmowy, drzwi / okna antywłamaniowe, teren zamknięty, domofon / wideofon, monitoring / ochrona, rolety antywłamaniowe',
       'system alarmowy, drzwi / okna antywłamaniowe, teren zamknięty, domofon / wideofon',
       'drzwi / okna antywłamaniowe, domofon / wideofon',
       'domofon / wideofon, teren zamknięty', 'teren zamknięty',
       'teren zamknięty, domofon / wideofon',
       'system alarmowy, drzwi / okna antywłamaniowe, domofon / wideofon, monitoring / ochrona',
       'system alarmowy',
       'drzwi / okna antywłamaniowe, domofon / wideofon, rolety antywłamaniowe, teren zamknięty, monitoring / ochrona',
       'system alarmowy, domofon / wideofon',
       'drzwi / okna antywłamaniowe, domofon / wideofon, teren zamknięty, monitoring / ochrona',
       'drzwi / okna antywłamaniowe, teren zamknięty, monitoring / ochrona',
       'system alarmowy, monitoring / ochrona, domofon / wideofon',
       'system alarmowy, drzwi / okna antywłamaniowe, domofon / wideofon, rolety antywłamaniowe',
       'system alarmowy, domofon / wideofon, monitoring / ochrona',
       'teren zamknięty, domofon / wideofon, monitoring / ochrona, rolety antywłamaniowe',
       'drzwi / okna antywłamaniowe, teren zamknięty, domofon / wideofon, rolety antywłamaniowe',
       'domofon / wideofon, teren zamknięty, monitoring / ochrona',
       'drzwi / okna antywłamaniowe',
       'drzwi / okna antywłamaniowe, domofon / wideofon, rolety antywłamaniowe',
       'system alarmowy, drzwi / okna antywłamaniowe, domofon / wideofon',
       'drzwi / okna antywłamaniowe, domofon / wideofon, monitoring / ochrona, rolety antywłamaniowe',
       'system alarmowy, monitoring / ochrona, domofon / wideofon, teren zamknięty',
       'teren zamknięty, monitoring / ochrona',
       'drzwi / okna antywłamaniowe, domofon / wideofon, rolety antywłamaniowe, monitoring / ochrona',
       'monitoring / ochrona, drzwi / okna antywłamaniowe, domofon / wideofon',
       'monitoring / ochrona, drzwi / okna antywłamaniowe, teren zamknięty, domofon / wideofon',
       'rolety antywłamaniowe, system alarmowy, teren zamknięty, monitoring / ochrona, drzwi / okna antywłamaniowe, domofon / wideofon',
       'system alarmowy, domofon / wideofon, rolety antywłamaniowe, monitoring / ochrona',
       'system alarmowy, drzwi / okna antywłamaniowe, domofon / wideofon, rolety antywłamaniowe, teren zamknięty, monitoring / ochrona',
       'system alarmowy, drzwi / okna antywłamaniowe, domofon / wideofon, teren zamknięty, monitoring / ochrona',
       'system alarmowy, drzwi / okna antywłamaniowe, teren zamknięty, domofon / wideofon, rolety antywłamaniowe',
       'drzwi / okna antywłamaniowe, teren zamknięty',
       'drzwi / okna antywłamaniowe, monitoring / ochrona',
       'system alarmowy, teren zamknięty, domofon / wideofon',
       'domofon / wideofon, rolety antywłamaniowe, monitoring / ochrona',
       'domofon / wideofon, rolety antywłamaniowe, teren zamknięty',
       'system alarmowy, domofon / wideofon, rolety antywłamaniowe, teren zamknięty, monitoring / ochrona',
       'rolety antywłamaniowe',
       'system alarmowy, drzwi / okna antywłamaniowe, teren zamknięty, monitoring / ochrona',
       'system alarmowy, teren zamknięty, domofon / wideofon, monitoring / ochrona, rolety antywłamaniowe',
       'domofon / wideofon, monitoring / ochrona, rolety antywłamaniowe',
       'system alarmowy, teren zamknięty',
       'drzwi / okna antywłamaniowe, rolety antywłamaniowe',
       'system alarmowy, domofon / wideofon, teren zamknięty, monitoring / ochrona',
       'teren zamknięty, domofon / wideofon, rolety antywłamaniowe',
       'monitoring / ochrona, drzwi / okna antywłamaniowe, domofon / wideofon, teren zamknięty',
       'system alarmowy, drzwi / okna antywłamaniowe, domofon / wideofon, teren zamknięty'],
      dtype=object)

In [292]:
df['Domofon/Wideofon'] = (df['Zabezpieczenia'].str.contains('domofon') | df['Zabezpieczenia'].str.contains('wideofon',na=False)).astype('Int64')
df['Ochrona'] = (df['Zabezpieczenia'].str.contains('ochrona',na=False)).astype('Int64')
df['Teren zamkniety'] = (df['Zabezpieczenia'].str.contains('teren zamknięty',na=False)).astype('Int64')

In [293]:
df = df.drop(columns=['Zabezpieczenia'])

In [294]:
df.isnull().sum()

Adres                          0
Cena                           0
Powierzchnia                   0
Forma własności                0
Liczba pokoi                   0
Stan wykończenia               0
Piętro                         0
Czynsz                         0
Ogrzewanie                     0
Rynek                          0
Typ ogłoszeniodawcy            0
Rok budowy                     0
Rodzaj zabudowy                0
Winda                          0
Wyposażenie                 1644
Informacje dodatkowe        1411
Materiał budynku            1581
Link                           0
Dzielnica                      0
Cena [zł/m²]                   0
Balkon                         0
Ogródek                        0
Taras                          0
Miejsce parkingowe/Garaż       0
Domofon/Wideofon               0
Ochrona                        0
Teren zamkniety                0
dtype: int64

In [296]:
df = df.drop(columns=['Wyposażenie','Informacje dodatkowe','Materiał budynku'])

In [297]:
df.columns

Index(['Adres', 'Cena', 'Powierzchnia', 'Forma własności', 'Liczba pokoi',
       'Stan wykończenia', 'Piętro', 'Czynsz', 'Ogrzewanie', 'Rynek',
       'Typ ogłoszeniodawcy', 'Rok budowy', 'Rodzaj zabudowy', 'Winda', 'Link',
       'Dzielnica', 'Cena [zł/m²]', 'Balkon', 'Ogródek', 'Taras',
       'Miejsce parkingowe/Garaż', 'Domofon/Wideofon', 'Ochrona',
       'Teren zamkniety'],
      dtype='object')

In [301]:
df.to_csv(r"C:\Users\Lukasz\Desktop\Projekty - CV\Project - Otodom\offers_details_2_cleaned.csv",index=False)